body {
  overflow-y: scroll;
}

body.modal-open {
  overflow-y: scroll;
  margin: 0;
}

.container {
  padding: 0;
}

.modal {
  overflow: auto;
}

.link-button-gray {
  color: #666;
  cursor: pointer;
}

.tight {
  padding-right:0.4em;
  padding-left:0.4em;
}

.fullytight {
  padding-right:0;
  padding-left:0;
}

.fullytight_all {
  padding:0;
}

.nomargin {
  margin-right:0;
  margin-left:0;
}

.nomargin-top {
  margin-top:0;
}

.text-align-right {
  text-align: right;
}

.img-responsive {
  width: 100%;
  border-radius: 0.25em;
}

.item-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.item-enter.item-enter-active {
  opacity: 1;
}

.item-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.item-leave.item-leave-active {
  opacity: 0.01;
}

.post-main{
  margin-bottom: 5px;
}

.mention {
  color: red;
}

.hashtag {
  color: green;
}

.url {
  color: blue;
}

.email {
  color: coral;
}

.micro-avatar {
  height: 1em;
  border-radius: 0.25em;
  vertical-align: text-top;
  margin-left: 0.25em;
  margin-right: 0.125em;
}